@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@if (User.IsInRole("admin"))
{
    <section>
        <h1> Welcome,Adminstrator!</h1>
    </section>
}
else if (User.IsInRole("slt"))
{
    <section>
        <h1> Welcome,slt!</h1>
    </section>
}
else if (User.IsInRole("depthead"))
{
    <section>
        <h1> Welcome,depthead!</h1>
    </section>
}
else 
{
    <section>
        <h1> Welcome.</h1>
    </section>
}


